<div class="container">

    <div class="text-center mx-auto">
        <h1>Welcome to EAT-DA-BURGER</h1>
        <h3>The only place on the internet where you can create a burger and then virtually eat it!</h3>
    </div>

    <div id="eaten">
        <div>
            <h3>These Burgs Are Eaten!</h3>
            {{!-- {{#each burger}}
            {{#unless devoured}}
                {{> }}
            {{/unless}}
            {{/each burger}} --}}

        </div>
    </div>
    <div id="unEaten">
        <div>
            <h3>Eat These Burgs!</h3>
            {{!-- {{#each burger}}
            {{#unless !devoured}}
                 {{> }}
            {{/unless}}
            {{/each burger}} --}}
        </div>
    </div>
</div>